@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
    background-color: #fff;
  }

.main-container {
    @apply max-w-[1280px] min-h-[calc(100vh-200px)] w-full mx-auto px-3;
  }

  .triangle {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 86.6px solid #000;
  }

  .title{
    border-top-right-radius: 999px;
    
  }
  